*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
}

.calc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border: 1px solid gray;
  width: 30%;
}

.calc-display{
  width: 100%;
  height: 10rem;
  background-color: black;
  color: white;
  font-size: 10rem; 
  text-align: right; 
}

.calc-buttons{
  display: flex;
  flex-wrap: wrap;
}

.calc-buttons > .button {
  flex: 25%;
}

.operand{
  background-color: orange;
}

.operand:hover{
  background-color: rgb(255, 123, 0);
}
