.button{
    font-size: 5rem;
    font-weight: 300;
    background-color: white;
    padding: 1rem 0;
    border: 1px solid gray;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.button:hover{
    cursor: pointer;
    background-color: rgb(216, 214, 214);
}

.operator{
    background-color: rgb(252, 150, 132);
    color: white;
    font-weight: 200;
  }
  
.operator:hover{
  background-color:  rgb(253, 82, 52);
}

.button-clear{
  background-color: rgb(235, 233, 233);
}
