.calc-app {
  display: flex;
  padding: 14rem 10rem;

  background: linear-gradient(to right bottom, pink, purple);
}

.calc-app > div {
  flex: 1;
}

.calc {
  overflow-x: hidden;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .calc-app {
    flex-direction: column;
    height: auto;
    padding: 4rem;
  }
  .past-calcs {
    text-align: center;
    padding-top: 2rem;
  }
}
