.button{
    height: 8rem;
    font-size: 5rem;
    border: 1px solid gray;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.button:hover{
    cursor: pointer;
    background-color: rgb(194, 192, 192);
}

.operator{
    background-color: orange;
    color: white;
  }
  
  .operator:hover{
    background-color: rgb(255, 123, 0);
  }
  
